<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apikey" value="ENTER YOUR API KEY HERE"/>
    <add key="apisecret" value="ENTER YOUR API SECRET HERE"/>
    <add key="foldertoscan" value="flickrsyncfolder"/>
    <add key="flickrDir" value="e:\photos\"/>
    <add key="justPrintFileNames" value="false"/>
  </appSettings>
</configuration>